.downloadable {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 2rem;

  & a {
    text-decoration: none;
    color: inherit;
  }

  & figure {
    position: relative;
    margin: 0;
  }

  & img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
  }

  & > h3 {
    position: relative;
    left: 1rem;
    display: inline-block;
    margin-bottom: 0;
    padding: .5rem 1rem;
    font-weight: 200;
    font-size: .75rem;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #667;
    background-color: #f5f5f5;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
  }

  & > figcaption {
    padding: .75rem 1rem 1rem;
    box-shadow: 0 0 10px 3px #f3f3f3;

    & > a {
      display: block;
      margin: 0 -1rem -1rem;
      padding: 10px;
      text-align: center;
      font-weight: 200;
      letter-spacing: .4px;
      color: white;
      background-color: #888;
      transition: background-color .2s ease;
    }

    & > a:hover {
      background-color: #666;
    }
  }
}

.downloadable__description {
  margin-top: 0;
  font-size: .875rem;
  line-height: 1.6;

  & > span {
    font-weight: 600;
  }

  & > span:after {
    content: ": ";
  }
}

.downloadable__note {
  position: absolute;
  right: 1rem;
  margin-top: 0;
  font-size: .75rem;
  line-height: 2.1;

  & > a {
    display: inline-block;
    margin-right: 7px;
    opacity: 1;
    transition: opacity .3s ease;
  }
  
  & > a:hover {
    opacity: .8;
  }
}

.downloadable__screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  opacity: 0;
  transition: opacity .3s ease;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: .8px;

  & a {
    display: inline-block;
  }

  & > p {
    color: #fff;
  }

  .downloadable > figure:hover & {
    opacity: 1;
  }
}
