$faintgray: #ececec;
$faintergray: #f5f5f5;
$fontcolor: #666;
$red: #d53847;

%download {
  text-transform: uppercase;
  letter-spacing: 3px;
}

%downloadable-icon-dl-base {
  position: relative;
  top: 1px;
  height: 13px;
  width: 13px;
  margin-right: .5rem;
  background-size: 13px;
}

%downloadable-icon-base {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translate3d(0, 0, 0);
  transition: transform .3s ease;
}

.downloadable {
  position: relative;
  display: block;
  max-width: 100%;
  margin-bottom: 2rem;

  &:after {
    content: "";
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 10px 3px #f3f3f3;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  & figure {
    position: relative;
    margin: 0;
    padding: 1rem;
    border-left: 1px solid $faintgray;
    border-right: 1px solid $faintgray;
    border-top: 1px solid $faintgray;

    & > a {
      display: block;
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  & img {
    margin: 0 auto;
    position: relative;
    display: block;
    /*min-height: 100%;*/
    max-width: 100%;
    box-shadow: 0 0 10px 3px #f3f3f3;
  }

  & > h3 {
    position: relative;
    left: 1rem;
    display: inline-block;
    height: 32px;
    margin-bottom: 0;
    padding: .5rem 1rem;
    font-family: "gotham-book", Helvetica, Arial, sans-serif;
    font-size: .75rem;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: $fontcolor;
    background-color: $faintergray;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: none;
  }

  & > figcaption {
    position: relative;
    padding: 0 1rem 1rem;
    /*box-shadow: 0 0 10px 3px #f3f3f3;*/
    border-left: 1px solid $faintgray;
    border-right: 1px solid $faintgray;
    border-bottom: 1px solid $faintgray;
    border-top: none;

    & > a {
      @extend %download;
      position: relative;
      display: block;
      margin: 0 -1rem -1rem;
      padding: 16px;
      text-align: center;
      font-weight: 200;
      letter-spacing: .4px;
      color: $fontcolor;
      background-color: $faintergray;
      transition: background-color .3s ease;
    }

    & > a:hover {
      background-color: #e6e6e6;
      cursor: pointer;
    }
  }

  & select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: .5rem;
    margin-top: .25rem;
    padding: .5rem 1.75rem .5rem .75rem;
    line-height: 1.25;
    vertical-align: middle;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center; 
    background-size: 8px 10px;
    color: $red; 
    border: 1px solid $red;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      border-color: #d53847;
      outline: 0;
    }
  }
}

.downloadable__description {
  margin-top: 0;
  font-size: .875rem;
  line-height: 1.6;

  & label {
    font-weight: 600;
  }

  & > span {
    font-weight: 600;
  }

  /*& > span:not(:first-of-type):after {*/
    /*content: ": ";*/
  /*}*/

  /*& a[href^='mailto'] {*/
    /*text-decoration: underline;*/
  /*}*/
}

.downloadable__note {
  position: absolute;
  right: 1rem;
  display: none;
  font-size: .75rem;
  line-height: 2;
  text-align: center;
  font-weight: 400 !important;

  @media screen and (min-width: 875px) {
    display: block;
  }


  & > a {
    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease;
  }
  
  & > a:hover {
    opacity: .8;
  }
}

.downloadable__screen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: rgba($red,.93);
  opacity: 0;
  transition: opacity .3s ease;
  /*font-size: 24px;*/
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .8px;
  color: #fff;

  & a {
    display: inline-block;
  }

  & > div {
    @extend %download;
    color: #fff;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    transition: transform .3s ease, opacity .3s ease;

    .downloadable > figure > a:hover & {
      opacity: 1;
      transform: none;
    }
  }

  .downloadable > figure > a:hover & {
    opacity: 1;
  }
}

.downloadable__icon--dldark {
  @extend %downloadable-icon-base;
  @extend %downloadable-icon-dl-base;
  background-image: url(./../images/download-dark.png);

  .downloadable > figcaption > a:hover & {
    transform: translate3d(0, 12%, 0);
  }
  
}

.downloadable__icon--dllight {
  @extend %downloadable-icon-base;
  @extend %downloadable-icon-dl-base;
  background-image: url(./../images/download-light.png);
}

.downloadable__icon--link {
  @extend %downloadable-icon-base;
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url(./../images/link.png);
}

.downloadable__icon--email {
  @extend %downloadable-icon-base;
  height: 10px;
  width: 17px;
  background-size: 16px;
  background-image: url(./../images/email.png);
}
