.downloadable__icon--dldark, .downloadable__icon--dllight {
  position: relative;
  top: 1px;
  height: 13px;
  width: 13px;
  margin-right: .25rem;
  background-size: 13px; }

.downloadable__icon--dldark, .downloadable__icon--dllight, .downloadable__icon--link {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease; }

.downloadable {
  position: relative;
  display: block;
  max-width: 100%;
  margin-bottom: 2rem; }
  .downloadable:after {
    content: "";
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 10px 3px #f3f3f3; }
  .downloadable a {
    text-decoration: none;
    color: inherit; }
  .downloadable figure {
    position: relative;
    margin: 0;
    padding: 1rem;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec; }
    .downloadable figure:hover {
      cursor: pointer; }
  .downloadable img {
    margin: 0 auto;
    position: relative;
    display: block;
    /*min-height: 100%;*/
    max-width: 100%;
    box-shadow: 0 0 10px 3px #f3f3f3; }
  .downloadable > h3 {
    position: relative;
    left: 1rem;
    display: inline-block;
    height: 32px;
    margin-bottom: 0;
    padding: .5rem 1rem;
    font-family: "gotham-book", Helvetica, Arial, sans-serif;
    font-size: .75rem;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #666;
    background-color: #f5f5f5;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: none; }
  .downloadable > figcaption {
    position: relative;
    padding: .75rem 1rem 1rem;
    /*box-shadow: 0 0 10px 3px #f3f3f3;*/
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-top: none; }
    .downloadable > figcaption > a {
      position: relative;
      display: block;
      margin: 0 -1rem -1rem;
      padding: 16px;
      text-align: center;
      font-weight: 200;
      letter-spacing: .4px;
      color: #666;
      background-color: #f5f5f5;
      transition: background-color .3s ease; }
    .downloadable > figcaption > a:hover {
      background-color: #e6e6e6;
      cursor: pointer; }
  .downloadable select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .5rem 1.75rem .5rem .75rem;
    line-height: 1.25;
    vertical-align: middle;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 8px 10px;
    color: #666;
    border: 1px solid #ececec;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .downloadable select:focus {
      border-color: #d53847;
      outline: 0; }

.downloadable__description {
  margin-top: 0;
  font-size: .875rem;
  line-height: 1.6; }
  .downloadable__description > span {
    font-weight: 600; }
  .downloadable__description > span:after {
    content: ": "; }
  .downloadable__description a[href^='mailto'] {
    text-decoration: underline; }

.downloadable__note {
  position: absolute;
  right: 1rem;
  display: none;
  font-size: .75rem;
  line-height: 2;
  text-align: center; }
  @media screen and (min-width: 875px) {
    .downloadable__note {
      display: block; } }
  .downloadable__note > a {
    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease; }
  .downloadable__note > a:hover {
    opacity: .8; }

.downloadable__screen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: rgba(213, 56, 71, 0.88);
  opacity: 0;
  transition: opacity .3s ease;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: .8px; }
  .downloadable__screen a {
    display: inline-block; }
  .downloadable__screen > p {
    color: #fff;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    transition: -webkit-transform .3s ease, opacity .3s ease;
    transition: transform .3s ease, opacity .3s ease; }
    .downloadable > figure:hover .downloadable__screen > p {
      opacity: 1;
      -webkit-transform: none;
              transform: none; }
  .downloadable > figure:hover .downloadable__screen {
    opacity: 1; }

.downloadable__icon--dldark {
  background-image: url(./../images/download-dark.png); }
  .downloadable > figcaption > a:hover .downloadable__icon--dldark {
    -webkit-transform: translate3d(0, 12%, 0);
            transform: translate3d(0, 12%, 0); }

.downloadable__icon--dllight {
  background-image: url(./../images/download-light.png); }

.downloadable__icon--link {
  height: 10px;
  width: 10px;
  background-size: 10px;
  background-image: url(./../images/link.png); }